<div class="content" >
  <div class="cover black" data-color="black"></div>

  <!--   You can change the black color for the filter with those colors: blue, green, red, orange       -->

  <div >

    <!--  H1 can have 2 designs: "logo" and "logo cursive"           -->

    <div >
      <div class="subscribe">

        <div class="row">
          <div class="text-center"style="margin-top: 250px;margin-bottom: auto;margin-right: auto;margin-left: auto">
            <button *ngIf="sel==false"  (click)="start()" style="width: 150px" class="btn-danger btn b btn-fill">start</button>
            <mat-spinner *ngIf="sel==true"></mat-spinner>
            <h4 *ngIf="sel==true">Please Wait ...</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
