
<mat-dialog-content  >
  <div style="position: absolute;top: 32px;right: 370px" *ngIf="imageUrl" class="column">
    <figure class="image is-128x128">
      <button *ngIf="_edit==true" style="position: absolute;right: 0px;color: #000000;padding: 0px" class="btn btn-secondary ">      <i (click)="input.click()"  class="fas fa-edit fa-3x "></i>
      </button>
      <input  ngModel accept="image/*" #input required class="form-control" style="background-color: green;color: grey;width: 60px;display: none" #myInput1 type="file" name="image" (change)="selectImage1($event,input.files[0])" />

      <img  height="150" width="150" [src]="imageUrl" />
    </figure>
  </div>
  <div  class="card card-3">

    <div class="card-heading"></div>
    <div class="card-body">

  <div *ngIf="sel!=1&&sel!=2">
    <div >
      <label *ngIf="!auditService.audit_is_closing()" class="btn-secondary btn btn-fill btn-block" (click)="myInput.click()" >Add evidence </label>
      <input  ngModel accept="image/*" #input required class="form-control" style="background-color: green;color: grey;width: 60px;display: none" #myInput type="file" name="image" (change)="selectImage($event,input.files[0])" />
      <button (click)="sel=2" [disabled]="!image" class="btn-secondary btn btn-fill btn-block">View evidence</button>

    </div>
  </div>
    <div style="width: 480px" *ngIf="sel==1" >


      <h2 *ngIf="_edit==false" class="title">upload evidence</h2>
      <h2 *ngIf="_edit==true" class="title">edit evidence</h2>





      <form *ngIf="_edit==true"  action="" method="post" (ngSubmit)="submit_edit(f)"  #f="ngForm" class="login-form" ngNativeValidate>
        <div class="input-group">
          <input class="input--style-3"  [ngModel]="image.title" #title="ngModel" type="text"  required placeholder="title" name="title">
        </div>
        <div class="input-group">
          <input class="input--style-3" [ngModel]="image.description" #description="ngModel" type="text"  required placeholder="description" name="description">
        </div>
        <div class="input-group">
          <input class="input--style-3" [ngModel]="image.remedation" #remediation="ngModel" type="text"  required placeholder="remediation" name="remediation">
        </div>
        <div class="input-group">
          <input class="input--style-3" [ngModel]="image.risk" #risk="ngModel" type="text"  required placeholder="risk" name="risk">
        </div>
        <div *ngFor="let control of references.controls; index as i" class="input-group">
          <input class="input--style-3 js-datepicker" type="text" placeholder="reference"  [formControl]="references.controls[i]">
          <i style="position: absolute;right: 0;top: 10px" (click)="addreference()" class="fas fa-plus-circle"></i>
        </div>
        <div *ngFor="let control of system.controls; index as i" class="input-group">
          <input class="input--style-3 js-datepicker" type="text" placeholder="system"  [formControl]="system.controls[i]">
          <i style="position: absolute;right: 0;top: 10px" (click)="addsystem()" class="fas fa-plus-circle"></i>
        </div>
        <div *ngFor="let control of tool.controls; index as i" class="input-group">
          <input class="input--style-3 js-datepicker" type="text" placeholder="tool"  [formControl]="tool.controls[i]">
          <i style="position: absolute;right: 0;top: 10px" (click)="addtool()" class="fas fa-plus-circle"></i>
        </div>


        <button  mat-dialog-close style="margin-bottom: 30px"  type="submit" [disabled]="f.invalid||system.invalid||references.invalid||tool.invalid" class="btn btn-block btn-fill btn-danger">submit</button>
      </form>


      <form *ngIf="_edit==false"  action="" method="post" (ngSubmit)="submit(f)"  #f="ngForm" class="login-form" ngNativeValidate>
              <div class="input-group">
                <input class="input--style-3" ngModel #title="ngModel" type="text"  required placeholder="title" name="title">
              </div>
              <div class="input-group">
                <input class="input--style-3" ngModel #description="ngModel" type="text"  required placeholder="description" name="description">
              </div>
            <div class="input-group">
              <input class="input--style-3" ngModel #remediation="ngModel" type="text"  required placeholder="remediation" name="remediation">
            </div>
            <div class="input-group">
            <input class="input--style-3" ngModel #risk="ngModel" type="text"  required placeholder="risk" name="risk">
             </div>
            <div *ngFor="let control of references.controls; index as i" class="input-group">
              <input class="input--style-3 js-datepicker" type="text" placeholder="reference"  [formControl]="references.controls[i]">
              <i style="position: absolute;right: 0;top: 10px" (click)="addreference()" class="fas fa-plus-circle"></i>
            </div>
            <div *ngFor="let control of system.controls; index as i" class="input-group">
              <input class="input--style-3 js-datepicker" type="text" placeholder="system"  [formControl]="system.controls[i]">
              <i style="position: absolute;right: 0;top: 10px" (click)="addsystem()" class="fas fa-plus-circle"></i>
            </div>
            <div *ngFor="let control of tool.controls; index as i" class="input-group">
              <input class="input--style-3 js-datepicker" type="text" placeholder="tool"  [formControl]="tool.controls[i]">
              <i style="position: absolute;right: 0;top: 10px" (click)="addtool()" class="fas fa-plus-circle"></i>
            </div>


            <button  mat-dialog-close style="margin-bottom: 30px"  type="submit" [disabled]="f.invalid||system.invalid||references.invalid||tool.invalid" class="btn btn-block btn-fill btn-danger">submit</button>
          </form>



    </div>
    </div>
  </div>
    <div style="width:450px;background:rgba(21, 39, 43, 0.8); "  *ngIf="sel==2"  >

        <div style="position: absolute;top: 300px;left: 140px" >
          <i (click)="left()" style="color: whitesmoke" [ngStyle]="{'cursor':screenshots.Screenshot.length >1 ? 'pointer' : '' }"   class="  fa fa-angle-left fa-5x "></i>
        </div>


            <div  style="position: absolute;top: 90px;left: 405px" class="container">
              <img style="width: 520px;height: 300px" [src]="'http://localhost:8050/'+image.path" alt="'http://localhost:8050/'+image.path" >
              <div style="position: absolute;bottom: 0px;left: 370px">
                <button *ngIf="!auditService.audit_is_closing()" (click)="edit()" style="width: 70px;margin-right: 10px;padding: 10px;background-color: #00004d" class="  btn btn-secondary" >edit</button>
                <button *ngIf="!auditService.audit_is_closing()" mat-dialog-close (click)="delete()" style="width: 70px;margin-right: 10px;padding: 10px;background-color: #a20000" class="  btn btn-danger" >delete</button>
              </div>
            </div>


              <div style="position: absolute;top: 300px;right: 140px" >
                <i [ngStyle]="{'cursor':screenshots.Screenshot.length >1 ? 'pointer' : '' }" (click)="right()" style="color: whitesmoke"   class="  fa fa-angle-right fa-5x "></i>

              </div>

      <div style="margin-top: 145px;margin-bottom: 0px" >
        <div >

          <table >
            <tr>
              <th >title</th>
              <td>{{image.title}}</td>

            </tr>
            <tr>
              <th >description</th>
              <td >{{image.description}} </td>

            </tr>
            <tr>
              <th >risk</th>
              <td >{{image.risk}}</td>

            </tr>
            <tr>
              <th >tools</th>
              <td>{{image.tools}}</td>
            </tr>
            <tr>
              <th >systems</th>
              <td >{{image.systems}}</td>

            </tr>
            <tr>
              <th >references</th>
              <td >{{image.references}}</td>

            </tr>
            <tr>
              <th >remediation</th>
              <td >{{image.remedation}}</td>

            </tr>


          </table>
        </div>


      </div>
      <!-- <img *ngFor="let image of screenshots.Screenshot" class="images" [src]="'http://localhost:8050/'+image.path"/>
       -->

        </div>



</mat-dialog-content>

